.offer_image {
  max-width: 100%;
  margin-top: 20px;
  /* height: 300px !important; */
}
.free_shipping {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 35px;
  color: #353a35;
  margin: 50px;
  margin-bottom: 5px;
  /* height: 300vh !important; */
}
.sale_row {
  width: 100% !important;
}
